.steering-components-new-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.content-new-container {
  max-width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-new-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  max-height: 600px; /* Limits the maximum height of the image */
  object-fit: fill;
  border: 4px solid #ddd;
}

.page-new-heading {
  font-size: 32px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.new-paragraphs-section {
  font-size: 16px;
  color: #555555;
  line-height: 1.8;
  text-align: justify;
}

.new-paragraphs-section p {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .page-new-heading {
    font-size: 28px;
  }

  .new-paragraphs-section {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .content-new-container {
    padding: 15px;
  }

  .page-new-heading {
    font-size: 24px;
  }

  .new-paragraphs-section {
    font-size: 12px;
  }
}
