.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */
.logo-animation {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  background: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
  z-index: 9999; /* Ensure it’s on top of other content */
}

.logo-animation video {
  width: 100%; /* Make the video fill the full width */
  height: 100%; /* Make the video fill the full height */
  object-fit: contain;
  background: black; /* Ensures the video scales while keeping aspect ratio */
}

@media (max-width: 768px) {
  .logo-animation video {
    width: 100%; /* Make the video fill the full width on smaller screens */
    height: 100%; /* Make the video fill the full height on smaller screens */
    object-fit: contain;
    background: black; /* Ensure it fits within the screen without cropping */
  }
}

@media (max-width: 480px) {
  .logo-animation video {
    width: 100%; /* Make the video fill the full width on very small screens */
    height: 600%; /* Make the video fill the full height on very small screens */
    object-fit: contain; /* Ensures it fits well on very small screens */
    background: black;
  }
}
